@model  TreinamentoMVC.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista Pessoa</h2>

        <legend>Informações de Pessoas</legend>
            
            <div>
               <b>Pessoa ID</b>
            </div>
            <div>
                @Model.PessoaId
            </div>
            <div>
                <b>Nome</b>
            </div>
            <div>
                @Model.Nome
            </div>
            <div>
                <b>Tipo</b>
            </div>
            <div>
                @Model.Tipo
            </div>
            @Html.ActionLink("Voltar", "Index", "Home")
    
